* {
    font-family: 'Poppins', sans-serif;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: #5D3FD3;
    background: linear-gradient(90deg,#5D3FD3 0%, #753f91 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px; 
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 90px;
        height: 90px;
        margin-right: 14px;
    }

    h2 {
        font-weight: 300%;
    }

    P{
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.add-button {
    display: flex;
    margin-left: 10px;
    margin-top: 70px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
}

.button-text {//not the sus
    color: white;
    font-size: 20px;
    text-transform: initial;
    border: none;
    box-shadow: none;
}

.menu-items {
    margin: 0px;
    background-color: transparent;

    ion-icon {
        margin-right: 7px;
    }
    
    ion-item {
        --background: transparent;
        margin-bottom: 10px;
    }

    ion-button {
        color: white;
        font-size: 20px;
        text-transform: initial;
    }

    .selected {
        border-left: 5px solid;
        color: #5D3FD3;
        padding-left: 15px;

        ion-color {
            color: #5D3FD3;
        }
    }

}

