<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

<ion-content>
  <ion-card class="secondarycard">
    <ion-card-header>
      <ion-card-title  class="secondarytitle">Register</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="cardbg">
    <ion-card-header>
      <ion-card-title  class="title">User's Details</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="cardbg">
    <ion-card-content>

      <ion-item class="itembg">
        <ion-label>First Name: </ion-label>
        <ion-input class="input" type="text"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Last Name: </ion-label>
        <ion-input class="input" type="text"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Age: </ion-label>
        <ion-input class="input" type="number"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Contact Number: </ion-label>
        <ion-input class="input" type="number"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Address: </ion-label>
        <ion-input class="input" type="text"></ion-input>
      </ion-item>

      <ion-list class="itembg">
        <ion-radio-group value="Preffered not to say">
          <ion-item class="itembg">
            <ion-label>Male</ion-label>
            <ion-radio color="white" slot="end" value="Male"></ion-radio>
          </ion-item>
      
          <ion-item class="itembg">
            <ion-label>Female</ion-label>
            <ion-radio color="white" slot="end" value="Female"></ion-radio>
          </ion-item>
      
          <ion-item class="itembg">
            <ion-label>Preffered not to say</ion-label>
            <ion-radio color="white" slot="end" value="Preffered not to say"></ion-radio>
          </ion-item>
      
        </ion-radio-group>
      </ion-list>
      
    </ion-card-content>

  </ion-card>

  <ion-card class="cardbg">
    <ion-card-header>
      <ion-card-title  class="title">Account Details</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="cardbg">
    <ion-card-content>

      <ion-item class="itembg">
        <ion-label>Username: </ion-label>
        <ion-input class="input" type="Username"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Password: </ion-label>
        <ion-input class="input" type="Password"></ion-input>
      </ion-item>

      <ion-item class="itembg">
        <ion-label>Re-enter Password </ion-label>
        <ion-input class="input" type="Password"></ion-input>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <ion-button class="signupbtn" size="full">Sign Up</ion-button>

</ion-content>
