<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-icon class="icon" name="alert-circle-sharp"></ion-icon>
    </ion-card-header>
  </ion-card>

  <ion-card class="second-card">
    <ion-card-header>
      <ion-card-title class="title-card">System is under construction.. <br>We'll be back soon!</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
